
* {
    margin: 0em;
    padding: 0em;
    box-sizing: content-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(0, 16, 32);
    /* color: white; */
}

/* .main{
   
    
} */
.hr,
.hr2 {
    background-color: white;
    width: 18em;
    height: 1.5px;
    margin-bottom: 0.8em;
    border: 3px solid rgb(0, 16, 32);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.hr2 {
    width: 76%;
    float: right;
}

.head {
    height: 3em;
    width: 100%;
    /* border: 2px solid yellow; */
    background-color: rgba(0, 0, 0, 0.5);
    flex-flow: row-reverse;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 5px;

}
#logo1{
    background-image: url(./github_log.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#logo2,
#logo3,
#logo4 {
    float: right;
    
}

#logo1,
#logo2,
#logo3,
#logo4 {
    margin-left: 5px;
    height: 3em;
    width: 3em;
    background-color: rgb(0, 67, 126);
    border-radius: 50%;
}

#logo2 {

    background-color: rgb(124, 2, 76);
    border-radius: 50%;
}

#logo3 {

    background-color: rgb(57, 0, 126);
    border-radius: 50%;
}

#logo4 {

    background-color: rgb(126, 67, 0);
    border-radius: 50%;
}

.form_box {
    height: 90vh;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

.box {
    height: 12em;
    width: 20em;
    background-color: rgba(255, 255, 255, 0.162);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    flex-flow: column;
    margin-top: 5em;
}


.git_log {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    position: absolute;
    margin-top: -11em;
    background-size: contain;
    background-image: url('github_logo2.png');
    filter: drop-shadow(5px 5px 10px rgb(0, 88, 142));

}

.text {
    position: relative;
    color: rgb(255, 255, 255);
    margin-top: 1.5em;
    background-color: rgb;
    height: 3em;
    width: 14em;
    text-align: center;
}

.input_box input {
    position: relative;
    height: 30px;
    width: 180px;
    margin-top: 0em;
    margin-bottom: -1em;
    background-color: rgb(0, 16, 32);
    border: 1px solid salmon;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
}

#submit{
    position: relative;
    height: 30px;
    width: 80px;
    margin-top: 0.5em;
    margin-bottom: -1em;
    background-color: rgb(0, 16, 32);
    font-size: 18px;
    color: white;
    border: 1px solid salmon;
    border-radius: 5px;
}

.profile {
    height: 25em;
    width: auto;
    display: flex;
    /* border: 2px yellow solid; */
    position: relative;

}

.image {
    position: relative;
    height: 25em;
    width: 25em;
    background-image: url('github_log.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.box2 {
    position: absolute;
    top: 0em;
    height: 25em;
    width: 25em;
    background-image: linear-gradient(90deg, transparent 40%, rgb(0, 16, 32) 89%), linear-gradient(160deg, transparent 60%, rgb(0, 16, 32) 80%), linear-gradient(180deg, transparent 80%, rgb(0, 16, 32) 99%);
    background-blend-mode: hue;


}

.box3,
.box4,
.box5,
.bio_head {
    width: 15em;
    position: relative;
    top: 4em;
    left: 2em;
    text-align: center;
    display: flex;
    flex-flow: column;

}

.name,
.username,
.followers,
.following,
#no_fowers,
#no_fowing {
    height: 2em;
    width: 8em;
    margin: 5px;
    color: white;
    font-size: 30px;
    background-color: rgba(3, 41, 64, 0.742);
    padding-top: 0.5em;

}

.box4 {
    top: 4em;
    left: 7em;
}

.box5 {
    top: 4em;
    left: 8em;
}

#no_fowers,
#no_fowing {
    width: 4em;
    color: rgb(0, 16, 32);
    background-color: rgba(255, 204, 0, 0.742);
}

.bio_head {
    position: absolute;
    top: 14.5em;
    left: 27.5em;
    height: 1.5em;
    width: 8em;
    background-image: linear-gradient(90deg, rgba(36, 0, 107, 0.541), transparent);

}

.box6 {
    width: 42.5em;
    height: 8em;
    position: absolute;
    top: 16em;
    left: 27.5em;
    color: rgb(225, 225, 225);
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    background-image: linear-gradient(rgba(36, 0, 107, 0.541), transparent);
    padding: 10px;
}

.repo_head{
    height: 2em;
    width: 42.5em;
    position: relative;
    top: 2em;
    left: 27.5em;
    background-color: rgb(13, 4, 52);
    border-radius: 10px;
}
table{
    
    height: 2em;
    width: 42.5em;
    position: absolute;
    
}

.repo_head th{
    /* border: 1px solid white;    */
    color: white;
}
.sn,.repo_title,.download{
    text-align: center;
}
.link{
    text-align:  right;
}
.download{
    width: 15%;
}

#repo_containt{
    position: relative;
    height: auto;
    width: 42.5em;
    top: 3em;
    left: 27.5em;
    
    tr{
        /* border: 2px solid red; */
        background-color: rgb(78, 255, 158);
        margin-top:1em;
        td{
            
            display: inline-block;
            color: rgb(18, 3, 50);
  
        }
       
        td:nth-child(1){
            margin-left: 1em;
            height: 1.2em;
            width: 3em;
            text-align: center;
        }
        td:nth-child(2){
            margin-left: 9em;
            color: rgb(16, 0, 43);
            height: 1.2em;
            width: 20em;
   
        }
        td:nth-child(3){
            margin-left: 1.5em;
            img{
                height: 20px;
                width: 20px;
                position: relative;
                top: 2px;
             }
            
        }
        td:nth-child(4){
            margin-left: 2.5em;
             img{
                height: 20px;
                width: 20px;
                position: relative;
                top: 2px;
             }
        }
        
    }
    tr:hover{
        background-color: rgb(155, 253, 223);
    }
    
}